@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/jpg,png/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000034;
    backdrop-filter: blur(10px);
}

.container .content{
    position: absolute;
    z-index: 10000;
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
    background-image: url('../img/jpg,png/fundo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .content h2{
    font-size: 20vw;
    color: #ffffff;
}
.container .content h4{
    font-size: 20px;
}
.container .content a{
    padding: 10px 20px;
    margin-top: 2%;
    background-color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}