@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html{
    scroll-behavior: smooth;
}

body{
    background-image: url('../img/jpg,png/un.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80);
}
::selection{
    background-color: #ff0000;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: 0.3s ease;
    background: linear-gradient(180deg, #0000008c 20%, #ffffff00 100%);
}
.navbar.sticky{
    position: fixed;
    padding: 15px 8%;
    background: #0000007c;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .max-width .logo a{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    transition: 0.3s ease;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width .logo a span{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.3s ease;
}
.navbar.sticky .logo a span{
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
.navbar.sticky .logo a{
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
.navbar .max-width .img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.navbar .max-width .img img{
    width: 100%;
}
.navbar .max-width .img img.sticky{
    top: -5px;
}
.navbar .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navbar .menu li{
    display: inline-block;
    transition: 0.3s ease;
}
.navbar .menu li a{
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s;
}
.navbar .menu li a:hover{
    color: #000000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: white;
}
/* ########################################### */
gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0000008c 10%, #00000000 40%, #00000000 50%, #00000000 70%, #00000000 100%);
    z-index: 200;
}
.fundo{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.fundo video{
    z-index: 200;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.fundo .btnsaudio{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 50%;
    top: 80%;
    right: 5%;
    z-index: 500;
}
.fundo .btnsaudio .nomute,.mute{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.fundo .btnsaudio .nomute img{
    width: 25px;
    height: 25px;
}
.fundo .btnsaudio .mute img{
    width: 25px;
    height: 25px;
}
.fundo .btnsaudio .nomute{
    display: none;
}

/* ####################################################### */

.container .desc .contVM{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
}
.container .desc .contVM .visao{
    width: 95%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(10px);
    padding: 4% 80px;
    border-radius: 10px;
}
.container .desc .contVM .visao .contet-insc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container .desc .contVM .visao .contet-insc .content1, .content2{
    margin: 0 5% 0 5%;
    padding: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .desc .contVM .visao .contet-insc .content1::after{
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 2px;
    height: 100px;
    margin: 20px 0 0 42%;
}
.container .desc .contVM .visao .btn1{
    padding: 10px 20px;
    position: relative;
    background-color: rgb(228, 102, 0);
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2s;
}
.container .desc .contVM .visao .btn2{
    padding: 10px 20px;
    position: relative;
    background-color: rgb(228, 102, 0);
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}
.container .desc .contVM .visao .btn1:hover{
    padding: 12px 22px;
    position: relative;
    background-color: rgb(228, 102, 0);
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.container .desc .contVM .visao .btn2:hover{
    padding: 12px 22px;
    position: relative;
    background-color: rgb(228, 102, 0);
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.container .desc .contVM .visao h2{
    font-size: 45px;
    font-weight: 600;
}
.container .desc .contVM .visao p{
    font-size: 22px;
    font-weight: 500;
}
.container .desc .contVM .visao ul{
    list-style: none;
    margin: 0 2%;
}
.container .desc .contVM .visao ul li{
    font-size: 18px;
    font-weight: 500;
}
.container .desc .contVM .misao{
    margin: 5% 0;
    width: 100%;
    height: 23%;
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding-left: 4%;
}
.container .desc .desv{
    position: relative;
    width: 100%;
    height: 25vh;
    padding: 2% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .desc .desv .desvCont{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .desc .desv .desvCont h2{
    font-size: 30px;
    font-weight: 600;
}
.container .desc .desv .desvCont p{
    font-size: 18px;
    font-weight: 500;
}

/* ####################################################### */

.container{
    width: 100%;
    height: 100vh;
}

.container .mat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 5%;
}
.container .mat h1{
    font-size: 37px;
    font-weight: 500;
}
.container .mat h1::before{
    content: '';
    position: absolute;
    width: 160px;
    height: 5px;
    background-color: #000000;
    margin: 50px 0 0 0;
}

.container .mat .slider{
    max-width: 100%;
    display: flex;
  }
.container .mat .slider .card{
    flex: 2;
    margin: 20px 10px;
    background-color: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
.container .mat .slider .card .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
.container .mat .slider .card .content{
    padding: 10px 20px;
  }
.container .mat .card .content .title{
    font-size: 25px;
    font-weight: 600;
  }
.container .mat .card .content .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
  }




.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .serv-content .card{
    width: 35%;
    height: 280px;
    background: rgba(0, 0, 0, 0.705);
    text-align: center;
    border-radius: 6px;
    padding: 20px 50px;
    margin: 0 1px 10px 2px;
    cursor: pointer;
    transition: 0.3s ease;
}
.services .serv-content .card a{
    text-decoration: none;
    color:white;
    transition: 0.3s ease;
}
.services .serv-content .card a:hover{
    text-decoration: none;
    color:rgb(0, 0, 0); 
    background-color: rgba(255, 255, 255);
    border-radius: 100px 100px;
    transition: 0.3s ease;
    border-style:inherit;
    border-width: 100px;
    padding: 5px 5px 5px 5px;
}
.services .serv-content .card:hover{
    background: rgba(0, 0, 0, 0);
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.300), 0px 5px 15px 0px rgba(0, 0, 0, 0.300),
                0px 0px 10px 0px rgba(0, 0, 0, 0.300), 0px 0px 15px 5px rgba(0, 0, 0, 0.300);
}
.services .serv-content .card .box{
    transition: 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card .text a{
    text-decoration: none;
    color: white;
}

/* ################################################ */


.mest .max-width{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.mest .max-width h1{
    font-size: 37px;
    font-weight: 500;
}
.mest .max-width h1::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #000000;
    margin: 50px 0 0 0;
}
.mest .max-width .carousel2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.mest .max-width .carousel2 .card{
    width: 360px;
    height: 350px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
}
.mest .max-width .carousel2 .card .img-cards{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
}
.mest .max-width .carousel2 .card .img-cards img{
    width: 100%;
    border-radius: 50%;
}
.mest .max-width .carousel2 .card h2{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}
.mest .max-width .carousel2 .card p{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}