.navbar-mobile{
    display: none;
}

@media (max-width: 1080px) {
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: block;
        width: 100%;
        padding: 20px 8%;
        top: 0;
        left: 0;
        z-index: 999;
        font-family: 'Ubuntu', sans-serif;
        z-index: 999;
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-mobile.sticky{
        position: fixed;
        padding: 15px 8%;
        background: #0000007c;
    }
    .navbar-mobile .max-width{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-mobile .max-width .logo a{
        color: rgb(0, 0, 0);
        font-size: 23px;
        font-weight: 600;
        transition: all 0.3s ease;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
    }
    .navbar-mobile .max-width .logo a.sticky{
        color: rgb(255, 255, 255);
    }
    .navbar-mobile .max-width .logo a span{
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        transition: 0.3s ease;
    }
    .navbar-mobile .max-width .img{
        position: absolute;
        width: 120px;
        height: 90px;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
    }
    .navbar-mobile .max-width .img .imgedf{
        width: 100%;
    }
    .navbar-mobile .max-width .img #imgedf.sticky{
        display: none;
    }
    .navbar-mobile .menu-mobile{
        position: fixed;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:#111;
        z-index: 999;
        transform-origin: left;
        transition: 0.5s;
    }
    .navbar-mobile .menu-mobile li{
        list-style: none;
        display: inline-block;
        transition: all 0.3s ease;
    }
    .navbar-mobile .menu-mobile li a{
        text-decoration: none;
        display: block;
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 500;
        margin-left: 29px;
        transition: 0.3s ease;
        font-family: 'Ubuntu', sans-serif;
        margin: 0 0 30px 0;
    }
    .navbar-mobile .menu-mobile li a:hover{
        color: #000000;
        font-weight: 500;
        font-size: 25px;
        padding: 7px 13px;
        border-radius: 3px;
        background-color: white;
    }
    .navbar-mobile .menu-mobile img{
        position: absolute;
        top: 5%;
        right: 8%;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .navbar-mobile .max-width .btns-toggle{
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .navbar-mobile .max-width .btns-toggle img{
        width: 100%;
    }
    .navbar-mobile .max-width .btns-toggle img.sticky{
        filter: invert(4);
    }
    .container .desc .contVM .visao h2{
        font-size: 35px;
        font-weight: 600;
    }
    .container .desc .contVM .visao p{
        font-size: 18px;
        font-weight: 500;
    }
}

@media (max-width: 1215px) {
    .mat .wrapper .carousel .card video{
        width: 300px;
    }
}
@media (max-width: 690px) {
    .container .desc .contVM .visao h2{
        font-size: 30px;
        font-weight: 600;
    }
    .container .desc .contVM .visao p{
        font-size: 14px;
        font-weight: 500;
    }
    .container .desc .contVM .visao ul li{
        font-size: 14px;
        font-weight: 500;
    }
}
@media (max-width: 500px) {
    .container .desc .contVM .visao h2{
        font-size: 22px;
        font-weight: 600;
    }
    .container .desc .contVM .visao p{
        font-size: 14px;
        font-weight: 500;
    }
    .container .desc .contVM .visao ul li{
        font-size: 14px;
        font-weight: 500;
    }
}
@media (max-width: 930px) {
    .fundo .conteudo .video video{
        object-fit: cover;
        width: 800px;
        height: 5%;
    }
}
@media (max-width: 830px) {
    .fundo .conteudo .video video{
        object-fit: cover;
        width: 750px;
        height: 5%;
    }
}
@media (max-width: 770px) {
    .fundo .conteudo .video video{
        object-fit: cover;
        width: 700px;
        height: 5%;
    }
}
@media (max-width: 730px) {
    .fundo .conteudo .video video{
        object-fit: cover;
        width: 650px;
        height: 5%;
    }
}
@media (max-width: 670px) {
    .fundo .conteudo .video video{
        object-fit: cover;
        width: 600px;
        height: 5%;
    }
}

@media (max-width: 620px) {
    .fundo .conteudo .video video{
        width: 100%;
        height: 5%;
    }
}
@media (max-width: 750px) {
    .navbar-mobile .max-width .img{
        position: absolute;
        width: 120px;
        height: 90px;
        top: 14%;
        left: 50%;
        transform: translate(-50%);
    }
}
@media (max-width: 520px) {
    .navbar-mobile .max-width .img{
        position: absolute;
        width: 250px;
        height: 90px;
        top: 14%;
        left: 50%;
        transform: translate(-50%);
    }
    .fundo{
        padding-top: -300%;
    }
}
@media (max-width: 360px) {
    .navbar-mobile .max-width .img{
        position: absolute;
        width: 300px;
        height: 200px;
        top: 14%;
        left: 50%;
        transform: translate(-50%);
    }
    .container .desc .contVM .visao{
        width: 95%;
        height: 90%;
        background-color: rgba(255, 255, 255, 0.384);
        backdrop-filter: blur(10px);
        padding: 1% 20px;
        border-radius: 10px;
    }
    .container .desc .contVM .visao h2{
        font-size: 20px;
        font-weight: 600;
    }
    .container .desc .contVM .visao p{
        font-size: 12px;
        font-weight: 500;
    }
    .container .desc .contVM .visao ul li{
        font-size: 12px;
        font-weight: 500;
    }
}
@media (max-width: 360px) {
    .wrapper .carousel .card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7 video{
        width: 350px;
        margin: 0 2% 0 2%;
    }
    .wrapper .carousel .card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, h2{
        font-size: 10px;
        color: rgb(0, 0, 0);
        font-weight: 600;
    }
    .wrapper .carousel .card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7{
        margin-left: 20%;
    }
}