@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: flex;
        z-index: 999;
        width: 30px;
        height: 30px;
    }
    .menu-btn .menuBtn{
        width: 100%;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn .menuBtn.active{
        display: none;
    }
    .navbar .menu-btn .menuBtn.sticky{
        filter: invert(4);
    }
    .menu-btn .closeBtn{
        width: 100%;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn .closeBtn{
        display: none;
    }
    .menu-btn .closeBtn.active{
        display: block;
    }
    .navbar .menu{
        position: absolute;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        margin: 0 0 40px 0;
        font-size: 28px;
        padding: 5px 40px;
        margin-left: -20px;
        text-align: center;
    }
    .navbar .menu li a:hover{
        color: #ff0000;
        font-weight: 500;
        padding: 5px 40px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar .logo a{
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .column .text2{
        font-size: 14px;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}