@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url('../img/jpg,png/un.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80);
}
::selection{
    background-color: #000000;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: #ffffff;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
    color:white;
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.3s ease;
}
.navbar.sticky{
    position: fixed;
    padding: 15px 0;
    background: #0000007c;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
    transition: 0.3s;
}
.navbar .logo a span{
    color: rgb(255, 255, 255);
    transition: 0.3s ;
}
.navbar.sticky .logo a span{
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
.navbar.sticky .logo a{
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    transition: 0.3s;
}
.navbar .menu li a{
    display: block;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s;
}
.navbar .menu li a:hover{
    color: #000000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: white;
}
.navbar.sticky .menu li a:hover{
    background:#ffffffd5;
}

/* menu btn styling */
 .menu-btn{
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 40px;
    width: 40px;
    background: rgb(0, 0, 0);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}
.scroll-up-btn img{
    width: 25px;
    height: 25px;
}
.scroll-up-btn.show{
    bottom: 20px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

  
/* home section styling */
.home{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../img/jpg,png/fundo.png") no-repeat center;
    height: 100vh;
    min-height: 500px;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 36px;
}
.home .home-content .text-1 span{
    color: #000000;
}
.home .home-content .text-2{
    font-size: 85px;
    font-weight: 600;
    margin-left: -1px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}
/* .home .alertamanutencao{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 60px;
    background-color: #00000048;
    backdrop-filter: blur(20px);
    color: #ffffff;
    border-radius: 20px;
    z-index: 100;
}
.home .alertamanutencao .alert-img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
}
.home .alertamanutencao .alert-img img{
    width: 100%;
    height: 100%;
}
.home .alertamanutencao .alerta-text h1{
    font-size: 40px;
}
.home .alertamanutencao .alerta-text h1 img{
    width: 40px;
    height: 40px;
}
.home .alertamanutencao .alerta-text p{
    font-size: 18px;
} */

/* about section styling */

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
    margin-left: -15px;
}
.about .about-content .right{
    text-align: center;
    background: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 8px;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text2{
    font-size: 18px;
    font-weight: 200;
    width: 100%;
    min-height: 200px;
}
.about .about-content .column .text span{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* services section styling */

.services, .teams{
    color:#fff;
    background-color: transparent;
    background-attachment:fixed;
    background-size: cover;
}
.services .title::before,
.teams .title::before{
    background: #fff;
    
}
.services .serv-content .card{
    width: 33%;
    height: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(20px);
    border-radius: 6px;
    padding: 20px 30px;
    margin: 2px 0;
    transition: 0.2s ease;
}
.services .serv-content .card .box a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
.services .serv-content .card .box p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
.services .serv-content .card a:hover{
    color:rgb(255, 255, 255);
    border:solid 1px #ffffff;
    background-color: transparent;
}
.services .serv-content .card:hover{
    background: rgba(255, 255, 255, 0.158);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.300);
}
.services .serv-content .card img{
    width: 70px;
    height: 70px;
    color: rgb(220, 20, 60);
    transition: color 0.3s ease;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/* ########################################### */



/* ########################################### */
.teams .carousel .card{
    background: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(20px);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: 0.3s ease;
}
.teams .carousel .card:hover{
    background: rgba(255, 255, 255, 0.158);
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    transition: 0.3s ease;
}
.teams .carousel .card:hover img{
    border: 5px solid rgb(0, 0, 0);
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0)!important;
    transition: 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: rgb(0, 0, 0)!important;
}

/* contact section styling */
.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 50px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row img{
    width: 30px;
    height: 30px;
    filter: invert(4);
}
.contact .contact-content .info .head a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    margin-bottom: 8%;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}
.contact .right form .button button:hover{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    background: none;
}


  .content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
  }
  .content1 .text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
  }
  .content1 .p{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
  }